[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/opt/apps
Environment="PATH=/opt/apps/env/bin"
ExecStart=/opt/apps/env/bin/gunicorn --bind 0.0.0.0:5000 app:app
[Install]
WantedBy=multi-user.target